/* Reset Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #505050;
}

/* Header Styles */
header {
    background: linear-gradient(180deg, #7FD8BE, #333);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: sticky; 
    top: 0;
}

.headeraH1 {
    margin: 0;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}


/* Navigation Styles */
nav ul {
    background-color: #333;
    color: #fff;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

nav a:hover {
    background-color: #505050;  /* Darker shade for hover */
}

/* Banner Styles */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.centered-banner {
    padding: 30px;
    max-width: 80%;
    height: auto;
}

/* Main Content Styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.services {
    background-color: #7FD8BE;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main h3 {
    margin-top: 20px;
}

/* Service Columns */
.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service-column {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-column img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.service-column h3 {
    margin-bottom: 5px;
}

/* Media Queries for Responsiveness */
@media (max-width: 800px) {
    .service-column {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 700px) {
    .service-column {
        flex-basis: 100%;
        max-width: 100%;
    }
}

/* Call to Action Styles */
.cta-container {
    background-color: #7FD8BE;
    text-align: center;
    padding: 46px;
    margin-top: 2px;
    font-size: 16px;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #333;
}

.cta-button {
    display: inline-block;
    padding: 15px 25px;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #000119;
    box-shadow: 0px 5px 5px #333333;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer ul {
    margin: 0;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;  /* Smooth transition for hover effect */
}

footer a:hover {
    color: #b3b3b3;  /* Lighter color on hover */
}

footer p {
    margin: 10px 0 0;
}
